body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    border: 1px solid red;
}

button {
    background-color: green;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid green;
    cursor: pointer;
}